/* Reset styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
  }



/* Global styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #f1faee;
}

a {
  text-decoration: none;
}

body+a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

main {
  position: relative;
}

/* Header styles */
header {
  background-color: #f1faee;
  width: 100%;
  padding: 5px 0;
}

/* Logo */
.logo {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #003049;
}

.logo-img {
  max-width: 700px;
}

/* Make the logo smaller for mobile users */
@media (max-width: 700px) {
  .logo-img {
    width: 100%;
  }
}

/* Navigation bar */
#title nav{
  width: 100%;
  height: 50px;
  text-decoration: none;
}

#title .nav-bar {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  background-color: #003049;
  font-size: 1.1em;
}

@media (max-width: 700px) {
  #title .nav-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-bar li {
    margin: 15px;
  }
}

#title .nav-bar a{
  padding: 10px 15px;
  color:#f77f00;
  transition: background-color 0.5s;
}

#title #current,
#title #current:hover {
  background-color: #f1faee;
  color: #003049;
}

#title .nav-bar a:hover {
  background-color: #f1faee;
  color: #003049;
}

/* Covid-19 Guidelines */
#covid19 {
  display: block;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #003049;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f77f00;
  padding: 10px;
}

/* Index styles start */
/* Main container */
.main-container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.main-container section h2 {
  padding: 10px 20px;
}

.main-container section {
  padding: 30px 20px;
  margin: 10px;
  text-align: justify;
  background-color: #002f4926;
}
.main-container section p,
.main-container section ol {
  margin: 15px 0;
  padding-left: 20px;
}

.main-container section li {
  padding: 5px 0;
}

.most-played-mid {
  order: -1;
}

.subsection-title {
  margin: 30px 0;
  text-align: center;
}
/* Index styles end */


/* Events styles start */

.events-container {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-evenly;
  padding: 10px;
}

/* Changes to stacked display when below 1200px */
@media (max-width: 1200px){
  .events-container {
    display: block;
  }
}

.events-child {
  padding: 20px;
  margin: 0 20px;
}

.events-title {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #f780003d;
}

#weekly-monthly {
  display: block;
  padding: 10px;
}

.events-left-divider {
  margin-bottom: 20px;
}

.events-left-divider h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #003049;
}

.event-content h4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.event-content {
  margin-bottom: 15px;
  padding: 15px;
  text-align: justify;
}

/* Gallery styles */
#gallery-description {
  text-align: center;
}

#gallery-container {
  width: 100%;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-image {
  float: left;
  width: 100%;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img{
  width: 90%;
  max-width: 800px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 25px;
  color: #f1faee;
  cursor: pointer;
}


/* Form styles */
textarea {
  resize: none;
}
/* Events styles end */


/* Reviews page style start */
/* Styles for the top of the page */
.reviews-titles {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.button-review {
  font-size: 2em;
  background-color: #f1faee;
  text-align: center;
  display: inline-block;
  margin: 10px 80px;
  padding: 10px;
  border: solid 4px #003049;
  transition: 0.2s;
}

.button-review:hover {
  background-color: #f7800065;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 5px 3px #002f4952;
}

.button-review:active {
  cursor: pointer;
  transform: translateY(2px);
}

/* Articles */
#articles-section {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  display: block;
}

.article {
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

@media (max-width: 700px) {
  .article {
    display: block;
  }
}

.article:nth-of-type(2n-1) {
  background-color: #002f4932;
}

.article:nth-of-type(2n) {
  background-color: #f780003d;
}

.article-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.article-text {
  margin: 10px;
  padding: 15px;
  text-align: justify;
}

.article-text p {
  margin-bottom: 20px;
}

.rating {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.article-image {
  max-width: 250px;
  max-height: 200px;
  height: auto;
  width: auto;
}

/* Videos */

#videos-section {
  display: none;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 750px));
  align-items: center;
  justify-content: center;
  text-align: center;
}

.videos-child {
  margin: 30px 30px;
  padding: 20px 0;
  border: 2px solid #003049;
}

.videos-child h3 {
  text-transform: uppercase;
  margin: 10px 0;
}

iframe {
  height: 390px;
  width: 100%;
}


/* Reviews page style end */


/* Footer */
.footer-container {
  background-color: #003049;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  color:#f77f00;
  font-size: 1.1em;
  padding: 0;
}

.logo-footer {
  width: 150px;
}

#footer-newsletter {
  text-align: left;
  margin-left: 10%;
}

#footer-newsletter button{
  padding: 2px 3px;
}

#footer-address {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  margin: 0 100px;
}

/* 
Color pallete:
003049 dark blue
d62828 red
f77f00 orange
fcbf49 yellow
f1faee pale
*/