/* Reset styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
  }



/* Global styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #f1faee;
}

a {
  text-decoration: none;
}

body+a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

main {
  position: relative;
}

/* Header styles */
header {
  background-color: #f1faee;
  width: 100%;
  padding: 5px 0;
}

/* Logo */
.logo {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #003049;
}

#logo-img {
  max-width: 600px;
}

/* Make the logo smaller for mobile users */
@media (max-width: 700px) {
  #logo-img {
    width: 100%;
    src:local("assets/logos/logo-footer.png") ;
  }
}

/* Navigation bar */
#title nav,
#menuBurger{
  width: 100%;
  height: 50px;
  text-decoration: none;
}

.nav-bar,
#menuBurger {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  background-color: #003049;
  font-size: 1.1em;
}

.icon {
  display: none;
}

#title .nav-bar a,
#menuBurger{
  padding: 10px 15px;
  color:#f77f00;
  transition: background-color 0.5s;
}

#title #current,
#title #current:hover {
  background-color: #f1faee;
  color: #003049;
}

#title .nav-bar a:hover {
  background-color: #f1faee;
  color: #003049;
}

#menuBurger {
  display: none;
}

/* Add a hamburger menu for mobile users and hide the nav bar */
@media (max-width: 700px) {
  #menuBurger {
    display: block;
    margin-bottom: 0;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }

  .nav-bar li {
    margin: 15px;
  }

  .icon {
      display: block;
      text-align: center;
    }
}

/* Covid-19 Guidelines */
#covid19 {
  display: block;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #003049;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f77f00;
  padding: 10px;
}

#covid19:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Index styles start */
/* Main container */
.main-container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin: 20px 50px;
}

.main-container section h2 {
  padding: 10px 20px;
}

.main-container section {
  padding: 30px 20px;
  margin: 10px;
  text-align: justify;
  background-color: #002f4926;
}
.main-container section p,
.main-container section ol {
  margin: 15px 0;
  padding-left: 20px;
}

.main-container section li {
  padding: 5px 0;
}

/* Places the most played list on the left */
.most-played-mid {
  order: -1;
}

/* Adjusts the positions for 1200px */
@media (max-width: 1200px) {

  /* Stacks the content */
  .main-container {
      display: flex;
      flex-direction: column;
    }

  /* Places the most played list in its orignal position */
  .most-played-mid {
    order: 0;
  }

  /* Creates three columns for the most played list */
  .most-played-mid ol {
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }
}

/* Adjusts the position for 700px */
@media (max-width: 700px) {
  /* Makes the list into one column again */
  .most-played-mid ol {
    display:block;
  }
}



.subsection-title {
  margin: 30px 0;
  text-align: center;
}
/* Index styles end */


/* Events styles start */

.events-container {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-evenly;
  padding: 10px;
}

/* Changes to stacked display when below 1200px */
@media (max-width: 1200px){
  .events-container {
    display: block;
  }
}

.events-child {
  padding: 20px;
  margin: 0 20px;
}

.events-title {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #f780003d;
}

#weekly-monthly {
  display: block;
  padding: 10px;
}

.events-left-divider {
  margin-bottom: 20px;
}

.events-left-divider h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #003049;
}

.event-content h4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.event-content {
  margin-bottom: 15px;
  padding: 15px;
  text-align: justify;
}

/* Gallery styles */
#gallery-description {
  text-align: center;
}

#gallery-container {
  width: 100%;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-image {
  float: left;
  width: 100%;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.full-img img{
  width: 90%;
  max-width: 800px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 25px;
  color: #f1faee;
  cursor: pointer;
}


/* Events styles end */


/* Reviews page style start */
/* Styles for the top of the page */
.reviews-titles {
  text-align: center;
  justify-content: bottom;
}

.button-review {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f1faee;
  text-align: center;
  display: inline-block;
  margin: 0 80px;
  margin-top: 20px;
  padding: 20px;
  border: none;
  transition: 0.2s;
}

.button-review:hover {
  background-color: #002f4932;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 4px 3px #002f4932;
}

.button-review:active {
  cursor: pointer;
  /* transform: translateY(2px); */
}

/* Articles */
#articles-section {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  display: block;
  padding: 20px;
  background-color: #002f4932;
}

.article {
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 1px solid black;
}

@media (max-width: 700px) {
  .article {
    display: block;
  }
}

.article-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.article-text {
  margin: 10px;
  padding: 15px;
  text-align: justify;
}

.article-text p {
  margin-bottom: 20px;
}

.rating {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.article-image {
  max-width: 250px;
  max-height: 200px;
  height: auto;
  width: auto;
}

/* Videos */

#videos-section {
  display: none;
  padding: 20px;
  background-color: #002f4932;
  margin: 0 10%;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 700px));
  align-items: center;
  justify-content: center;
  text-align: center;
}

.videos-child {
  margin: 30px 30px;
  padding: 20px 0;
  border: 2px solid #003049;
}

.videos-child h3 {
  text-transform: uppercase;
  margin: 10px 0;
}

iframe {
  height: 360px;
  width: 100%;
}
/* Reviews page style end */


/* COVID-19 page styles begin */

#covid-title {
  text-align: center;
  margin: 10px 200px;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #f77f00;
  padding: 10px;
}

#covid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 200px;
}

#covid-container div {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 10px;
  padding: 30px;
  border: 1px solid #003049;
}

#covid-container p{
  text-align: justify;
}

#covid-container img {
  align-items: center;
  max-width: 400px;
  width: 90%;
}

/* Adjusments for smaller screens */
@media (max-width: 1200px) {
  #covid-title {
    margin: 30px;
  }
  
  #covid-container{
    display: block;
    margin: 30px;
  }
  @media (max-width: 700px) {
    #covid-container div{
      display: block;
    }

    #covid-container p{
      text-align: center;
    }
  }
}




/* Footer */
.footer-container {
  background-color: #003049;
  display: grid;
  grid-template-columns: 15% 10% 40% 25%;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  color:#f77f00;
  font-size: 1.1em;
  padding: 20px;
  height: 100%;
}

.logo-footer {
  width: 180px;
}

#footer-newsletter {
  text-align: left;
  margin-left: 10%;
}

#footer-newsletter button{
  padding: 2px 3px;
}

#footer-address {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  margin: 0 100px;
}

#footer-social-media {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#footer-social-media img {
  width: 30px;
  margin: 10px;
}

/* Adjust the footer for smaller screens */
@media (max-width: 700px) {
  .footer-container {
  display: block;
  }
}

/* 
Color pallete:
003049 dark blue
d62828 red
f77f00 orange
fcbf49 yellow
f1faee pale
*/